<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <title>我要傳情</title> 
        <!--<link rel="icon" href="favicon.png" sizes="16x16">-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="wrapper_for_sticky_footer">
        <div id="bg">
            <div class="img-mobile">
                <img src="assets/star-left.png" alt="star" class="img-star-left">
                <img src="assets/star-right.png" alt="star" class="img-star-right">
                <img src="assets/cloud-1.png" class="bg-cloud" style="z-index: -2;">
                <img src="assets/cloud-2.png" class="bg-cloud" style="z-index: -3;">
            </div>

            <div class="img-tablet">
                <img src="assets/star-left-web.png" alt="star" class="img-star-left">
                <img src="assets/star-right-web.png" alt="star" class="img-star-right">
                <img src="assets/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>

            <div class="img-web">
                <img src="assets/star-left-web.png" alt="star" class="img-star-left">
                <img src="assets/star-right-web.png" alt="star" class="img-star-right">
                <img src="assets/cloud-form-web.png" alt="bg-cloud" class="bg-cloud-web">
            </div>
        </div>

        <section id="form" class="center-aligned">
            <h1>來傳情吧！</h1>
            <form action="/sendresult" method="POST">
                <label for="exampleInputEmail1">選擇傳情對象</label>
                <select class="select-box" aria-label=".form-select-lg example" name="UID" method="GET" required action="/">
                    <option selected>請選擇傳送對象</option>
                {% for x, y in table %}
                    <option value="{{ x }}">{{ y }}</option>
                {% endfor %}
                </select>
                <br>
                <tiny>⚠️傳情對象僅包含有加小計Line好友的人喔</tiny>
                <br><br>

                <label for="exampleFormControlTextarea1">要給對方的話</label>
                <textarea id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
                <br>

                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">我不是來亂的</label>
                <br><br>

                <div class="flexbox-vertical">
                <button type="submit" class="button-yellow button-form">確認送出</button>
                <a href="cover.html">改變主意了</a>
                </div>
            </form>
        </section>
       
        </div>
        <footer class="flexbox-horizontal">
            <div class="flexbox-vertical" style="align-items: flex-start;">
                <tiny>@NCCU ACCT 2021</tiny>>
                <tiny style="position: relative; top: -10px;">By MengChiehLiu  |  Lili Lin</tiny>
            </div>
            <img src="assets/icon-github.png" alt="icon-github" class="icon-github">
        </footer>
    </body>
</html>
<script>
    window.onbeforeunload = function() {
        return "Hey, you're leaving the site. Bye!";
    };
</script>