@media screen and (min-width: 300px) and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    
    /* Typespace */
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Bold.ttf) format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Medium.ttf) format('truetype');
        font-weight: medium;
        font-style: normal;
    }
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    /* Animation */
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .tag {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 0.6s;
    }
    .tag.visible {
        opacity: 1;
        transform: translate(0, 0);
    }

    /* Layout */
    body {
        position: relative;
        background-color: #0A1739;
        margin: 0;
        font-family: "GenSenMaruGothicTW";
    }
    footer {
        width: 100%;
        height: 80px;
        padding: 22px 20px;
        background: #0E1527;
    }
    #wrapper_for_sticky_footer {
        min-height: calc(100vh - 120px);
    }

    #bg {
        position: relative;
        top: 0;
    }
    .img-mobile {
        display: block;
    }
    .img-tablet {
        display: none;
    }
    .img-web {
        display: none;
    }
        /* cover.html */
    #intro {
        position: relative;
        padding-top: 50px;
        margin-bottom: 40px;
    }
    #character {
        position: relative;
        margin-bottom: 40px;
    }
    #facts {
        position: relative;
        margin-bottom: 40px;
    }
    #faq {
        position: relative;
        margin-bottom: 40px;
    }
        /* forms.html */
    #form {
        position: relative;
        width: 90%;
        padding-top: 50px;
        margin-bottom: 40px;
    }
        /* success.html */
    #success {
        position: relative;
        width: 90%;
        padding-top: 50px;
        margin-bottom: 40px;
    }

    .flexbox-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .flexbox-horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .flexbox-vertical-web {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .flexbox-horizontal-web {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .flexbox-horizontal-button {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .center-aligned {
        margin-left: auto;
        margin-right: auto;
    }
    .facts-content {
        position: relative;
        width: 84%;
        top: -22px;
    }
    .faq-question {
        width: 90%;
        height: 26px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .faq-answer {
        display: none;
        width: 90%;
        height: auto;
        margin-bottom: 4px;

        -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
        -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
    }

    /* Font */
    h1 {
        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.08em;
        color: #F6F7FB;
    }
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFDA79;

    }
    h3 {
        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    small {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
        opacity: 0.7;
    }
    tiny {
        font-style: normal;
        font-weight: medium;
        font-size: 12px;
        line-height: -10px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        opacity: 0.7;
    }
    a {
        position: relative;
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
        opacity: 0.7;
    }
    a:visited {
        color: #F6F7FB;
        text-decoration: none;
    }
      
    a:hover {
        color: #F6F7FB;
        text-decoration: none;
    }
      
    a:active {
        color: #F6F7FB;
        text-decoration: none;
    }

    label {
        position: relative;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    .text-color-light {
        color: #F6F7FB;
    }
    .message {
        position: absolute;
        width: 94%;
        left: 6px;
        top: 0;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: medium;
        color: #292E38;
        opacity: 1;
    }
    /* ??? */

    /* Assets */
    button {
        width: 165px;
        height: 44px;
        border: #fff solid 0px;
        border-radius: 12px;

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: medium;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.06em;
    }
    .button-yellow {
        background: #FFDA79;
        color: #08122D;
    }
    .button-white {
        margin-top: 14px;
        background: #F6F7FB;
        color: #08122D;
    }
    .button-form {
        width: 60%;
    }
    .button-yellow:hover {
        box-shadow: 0px 2px 20px rgba(255, 203, 20, 0.5);
    }
    .button-white:hover {
        box-shadow: 0px 2px 20px rgba(255, 249, 227, 0.6);
    }
    select {
        display:inline-block;
        position: relative;
        width: 100%;
        height: 42px;
        overflow:hidden;
        margin-top: 4px;
        margin-bottom: 8px;

        background: #F6F7FB;
        border:0px;
        border-radius: 12px;
        outline:none;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: medium;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #3E4655;
    }
    textarea {
        position: relative;
        width: 100%;
        background: #F6F7FB;
        border-radius: 12px;
        padding: 12px;
        resize: vertical;

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.04em;

        color: #3E4655;
    }
    hr {
        width: 90%;
        border: 2px dashed rgba(255, 238, 180, 0.8)
    }
    .bg-cloud {
        position: absolute;
        top: 0;
        width: 100vw;
        height: auto;
    }
    .bg-success-mobile {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -3;
    }
    .img-star-left {
        position: absolute;
        width: 34%;
        height: auto;
        top: 0;
        left: 0;
    }
    .img-star-right {
        position: absolute;
        width: 34%;
        height: auto;
        top: 0;
        right: 0;
    }
    .box-blue {
        width: 80%;
        min-width: 232px;
        height: auto;
        background: rgba(39, 63, 124, 0.6);
        border-radius: 22px;
        margin-bottom: 20px;
        padding: 10px 0px;
    }
    .img-scroll-down {
        width: 13.6px;
        height: 17.6px; 
    }
    .img-speech-bubble {
        width: 200px;
        height: 80px;
    }
    .gif-angel {
        position: relative;
        width: 320px;
        height: 240px;
        top: -18px;
        z-index: -1;
    }
    .icon {
        width: 80px;
        height: 80px;
    }
    .icon-expand {
        width: 12px;
        height: 12px;
    }
    .icon-github {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    * {
        box-sizing: border-box;
    }
    
    /* Typespace */
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Bold.ttf) format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Medium.ttf) format('truetype');
        font-weight: medium;
        font-style: normal;
    }
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    /* Animation */
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .tag {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 0.6s;
    }
    .tag.visible {
        opacity: 1;
        transform: translate(0, 0);
    }

    /* Layout */
    body {
        position: relative;
        background-color: #0A1739;
        margin: 0;
        font-family: "GenSenMaruGothicTW";
    }
    footer {
        width: 100%;
        height: 120px;
        padding: 24px 10%;
        background: #0E1527
    }
    #wrapper_for_sticky_footer {
        min-height: calc(100vh - 120px);
    }

    #bg {
        position: relative;
        top: 0;
    }
    .img-mobile {
        display: none;
    }
    .img-tablet {
        display: block;
    }
    .img-web {
        display: none;
    }
        /* cover.html */
    #intro {
        position: relative;
        padding-top: 20px;
        margin-bottom: 80px;
    }
    #character {
        position: relative;
        margin-bottom: 80px;
    }
    #facts {
        position: relative;
        width: 90%;
        margin-bottom: 80px;
    }
    #faq {
        position: relative;
        margin-bottom: 80px;
    }
        /* forms.html */
    #form {
        position: relative;
        width: 80%;
        padding-top: 50px;
        margin-bottom: 60px;
    }
        /* success.html */
    #success {
        position: relative;
        width: 80%;
        padding-top: 40px;
        margin-bottom: 60px;
    }
    .flexbox-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .flexbox-vertical-web {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .flexbox-horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /* facts = 80%*/
    .flexbox-horizontal-web {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .flexbox-horizontal-button {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .center-aligned {
        margin-left: auto;
        margin-right: auto;
    }
    .facts-container {
        position: relative;
        width: 80%;
    }
    .facts-content {
        position: relative;
        top: -40px
    }
    .faq-question {
        width: 90%;
        height: 44px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .faq-answer {
        display: none;
        width: 90%;
        height: auto;
        margin-top: 2px;
        margin-bottom: 10px;

        -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
        -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
    }

    /* Font */
    h1 {
        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: bold;
        font-size: 68px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.08em;
        color: #F6F7FB;
    }
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFDA79;

    }
    h3 {
        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 34px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    small {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
        opacity: 0.9;
    }
    tiny {
        font-style: normal;
        font-weight: medium;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        opacity: 0.7;
    }
    a {
        position: relative;
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
        opacity: 0.7;
    }
    a:visited {
        color: #F6F7FB;
        text-decoration: none;
    }
    a:hover {
        color: #F6F7FB;
        text-decoration: none;
    }  
    a:active {
        color: #F6F7FB;
        text-decoration: none;
    }
    label {
        position: relative;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    .text-color-light {
        color: #F6F7FB;
    }
    .message {
        position: absolute;
        width: 94%;
        left: 32px;
        top: 16px;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-weight: medium;
        color: #292E38;
        opacity: 1;
    }
    /* ??? */

    /* Assets */
    button {
        width: 240px;
        height: 58px;
        border: #fff solid 0px;
        border-radius: 12px;

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: medium;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.06em;
    }
    .button-yellow {
        background: #FFDA79;
        color: #08122D;
    }
    .button-white {
        margin-left: 40px;
        background: #F6F7FB;
        color: #08122D;
    }
    .button-yellow:hover {
        box-shadow: 0px 2px 20px rgba(255, 203, 20, 0.5);
    }
    .button-white:hover {
        box-shadow: 0px 2px 20px rgba(255, 249, 227, 0.6);
    }
    select {
        display:inline-block;
        position: relative;
        width: 100%;
        height: 64px;
        overflow:hidden;
        margin-top: 4px;
        margin-bottom: 8px;

        background: #F6F7FB;
        border:0px;
        border-radius: 12px;
        outline:none;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: medium;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #3E4655;
    }
    textarea {
        position: relative;
        width: 100%;
        background: #F6F7FB;
        border-radius: 12px;
        padding: 16px 12px;
        resize: vertical;
        margin-bottom: 24px;

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.04em;

        color: #3E4655;
    }
    hr {
        width: 90%;
        border: 2px dashed rgba(255, 238, 180, 0.8)
    }
    .bg-cloud {
        position: absolute;
        top: 0;
        width: 100vw;
        height: auto;
    }
    .bg-cloud-web {
        position: absolute;
        top: 0;
        width: 100vw;
        height: auto;
        z-index: -3;
    }
    .bg-success-tablet {
        position: absolute;
        top: 0px;
        width: 100%;
        height: auto;
        z-index: -3;
    }
    .img-star-left {
        position: absolute;
        width: 24%;
        height: auto;
        top: 0;
        left: 0;
    }
    .img-star-right {
        position: absolute;
        width: 24%;
        height: auto;
        top: 0;
        right: 0;
    }
    .box-blue {
        width: 80%;
        min-width: 232px;
        height: auto;
        background: rgba(39, 63, 124, 0.6);
        border-radius: 22px;
        margin-bottom: 44px;
        padding: 10px 0px;
    }
    .img-scroll-down {
        width: 13.6px;
        height: 17.6px; 
    }
    .img-speech-bubble {
        width: 320px;
        height: 120px;
    }
    .gif-angel {
        position: relative;
        width: 320px;
        height: 240px;
        top: -18px;
        z-index: -1;
    }
    .icon {
        width: 120px;
        height: 120px;
    }
    .icon-expand {
        width: 24px;
        height: 24px;
    }
    .icon-github {
        width: 48px;
        height: 48px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
    * {
        box-sizing: border-box;
    }
    
    /* Typespace */
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Bold.ttf) format('truetype');
        font-weight: bold;
        font-style: normal;
    }
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Medium.ttf) format('truetype');
        font-weight: medium;
        font-style: normal;
    }
    @font-face {
        font-family: "GenSenMaruGothicTW";
        src: url(assets/GenSenMaruGothicTW/GenSenMaruGothicTW-Regular.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    /* Animation */
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Firefox < 16 */
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

        /* Internet Explorer */
    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .tag {
        opacity: 0;
        transform: translate(0, 10vh);
        transition: all 0.6s;
    }
    .tag.visible {
        opacity: 1;
        transform: translate(0, 0);
    }

    /* Layout */
    body {
        position: relative;
        background-color: #0A1739;
        margin: 0;
        font-family: "GenSenMaruGothicTW";
    }
    footer {
        width: 100%;
        height: 120px;
        padding: 24px 10%;
        background: #0E1527
    }
    #wrapper_for_sticky_footer {
        min-height: calc(100vh - 120px);
    }

    #bg {
        position: relative;
        top: 0;
    }
    .img-mobile {
        display: none;
    }
    .img-tablet {
        display: none;
    }
    .img-web {
        display: block;
    }
        /* cover.html */
    #intro {
        position: relative;
        padding-top: 20px;
        margin-bottom: 80px;

        -webkit-animation: fadein 0.6s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.6s; /* Firefox < 16 */
        -ms-animation: fadein 0.6s; /* Internet Explorer */
         -o-animation: fadein 0.6s; /* Opera < 12.1 */
            animation: fadein 0.6s;   
    }
    #character {
        position: relative;
        width: 960px;
        margin-bottom: 80px;
    }
    #facts {
        position: relative;
        width: 80%;
        margin-bottom: 80px;
    }
    #faq {
        position: relative;
        margin-bottom: 80px;
    }
        /* forms.html */
    #form {
        position: relative;
        width: 64%;
        padding-top: 50px;
        margin-bottom: 60px;
    }
        /* success.html */
    #success {
        position: relative;
        width: 80%;
        padding-top: 40px;
        margin-bottom: 60px;
    }
    .flexbox-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .flexbox-vertical-web {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .flexbox-horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /* facts = 80%*/
    .flexbox-horizontal-web {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .flexbox-horizontal-button {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .center-aligned {
        margin-left: auto;
        margin-right: auto;
    }
    .facts-container {
        position: relative;
        width: 30%;
    }
    .facts-content {
        position: relative;
        top: -40px
    }
    .faq-question {
        width: 90%;
        height: 44px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .faq-answer {
        display: none;
        width: 90%;
        height: auto;
        margin-top: 2px;
        margin-bottom: 10px;

        -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
        -o-animation: fadein 0.5s; /* Opera < 12.1 */
        animation: fadein 0.5s;
    }
    #scroll-more {
        position: absolute;
        top: 92%;
        right: 10%;
    }

    /* Font */
    h1 {
        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: bold;
        font-size: 68px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.08em;
        color: #F6F7FB;
    }
    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFDA79;

    }
    h3 {
        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 34px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    small {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
        opacity: 0.7;
    }
    tiny {
        font-style: normal;
        font-weight: medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        opacity: 0.7;
    }
    a {
        position: relative;
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
        opacity: 0.7;
    }
    a:visited {
        color: #F6F7FB;
        text-decoration: none;
    }
    a:hover {
        color: #F6F7FB;
        text-decoration: none;
    }  
    a:active {
        color: #F6F7FB;
        text-decoration: none;
    }
    label {
        position: relative;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 44px;
        letter-spacing: 0.04em;
        color: #F6F7FB;
    }
    .text-color-light {
        color: #F6F7FB;
    }
    .message {
        display: none;
    }
    /* ??? */

    /* Assets */
    button {
        width: 240px;
        height: 58px;
        border: #fff solid 0px;
        border-radius: 12px;

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: medium;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.06em;
    }
    .button-yellow {
        background: #FFDA79;
        color: #08122D;
    }
    .button-white {
        margin-left: 40px;
        background: #F6F7FB;
        color: #08122D;
    }
    .button-yellow:hover {
        box-shadow: 0px 2px 20px rgba(255, 203, 20, 0.5);
    }
    .button-white:hover {
        box-shadow: 0px 2px 20px rgba(255, 249, 227, 0.6);
    }
    select {
        display:inline-block;
        position: relative;
        width: 100%;
        height: 64px;
        overflow:hidden;
        margin-top: 4px;
        margin-bottom: 8px;

        background: #F6F7FB;
        border:0px;
        border-radius: 12px;
        outline:none;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: medium;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #3E4655;
    }
    textarea {
        position: relative;
        width: 100%;
        background: #F6F7FB;
        border-radius: 12px;
        padding: 16px 12px;
        resize: vertical;
        margin-bottom: 24px;

        font-family: "GenSenMaruGothicTW";
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.04em;

        color: #3E4655;
    }
    hr {
        width: 90%;
        border: 2px dashed rgba(255, 238, 180, 0.8)
    }
    .bg-cloud {
        position: absolute;
        top: 0;
        width: 100vw;
        height: auto;
    }
    .bg-cloud-web {
        position: absolute;
        top: 0;
        width: 100vw;
        height: auto;
        z-index: -3;
    }
    .bg-success-web {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        z-index: -3;
    }
    .img-star-left {
        position: absolute;
        width: 20%;
        height: auto;
        top: 0;
        left: 0;
    }
    .img-star-right {
        position: absolute;
        width: 20%;
        height: auto;
        top: 0;
        right: 0;
    }
    .box-blue {
        width: 80%;
        min-width: 232px;
        height: auto;
        background: rgba(39, 63, 124, 0.6);
        border-radius: 22px;
        margin-bottom: 44px;
        padding: 10px 0px;
    }
    .img-scroll-down {
        width: 13.6px;
        height: 17.6px; 
    }
    .img-speech-bubble {
        position: absolute;
        top: 120px;
        left: 0px;
        width: 416px;
        height: 140px;
    }
    .gif-angel {
        position: relative;
        width: 500px;
        height: 375px;
        top: -18px;
        z-index: -1;
    }
    .icon {
        width: 120px;
        height: 120px;
    }
    .icon-expand {
        width: 24px;
        height: 24px;
    }
    .icon-github {
        width: 48px;
        height: 48px;
    }
}